<div class="w-full relative">
  <img
    src="astro.svg"
    alt=""
    width="300"
    alt="premios a la comunidad"
    class="absolute z-10 top-30 left-80 m-auto"
  />
  <p class="text-3xl opacity-60 absolute z-10 top-60 left-80 m-auto">
    premios a la comunidad
  </p>
  <video
    class="w-full h-auto animate-pulse animate-duration-1000"
    src="/video.mp4"
    autoplay
    loop
    muted
    style="clip-path: polygon(0 0, 100% 0, 100% 89%, 59% 100%, 38% 100%, 0 90%);"
  ></video>
</div>
<video
  class="absolute -bottom-48 blur-10xl -z-10 w-full animate-fade"
  src="/video.mp4"
  autoplay
  loop
  muted
>
</video>
