---
import Header from "../components/Header.astro";
import "../styles/global.css";
const { title, decription } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={decription} />
    <title>Astro Basics</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
